.footer-container {
  background-color: var(--blue-teal);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-copyright {
  line-height: 3rem;
  font-size: 1.4rem;
}
